/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');




body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input{
  font-family: inherit;
}
button{
  border: none;
  font-family: inherit;
}
 .timer-input{
  width: 269px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #808080;
  margin: 0 8px 32px 156px;
  padding-left: 8px;
 }
 .timer-input:hover{
  border: 1px solid #000;
 }
 .timer-input:active{
  color: #000;
  border: 1px solid #4e75ff;
 }
 .timer-input:disabled{
  color: #808080;
  background-color: #fafafa;
  border: 1px solid #808080;
 }
 .timer-btn{
   width: 75px;
   height: 40px;
  font-weight: 500;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
 }
 .timer-btn:hover{
  background-color: #6c8cff;
 }
 .timer-btn:disabled{
  color: #989898;
  background-color: #cfcfcf;
 }
.timer {
  width: 346px;
  display: flex;
  justify-content: space-between;
  padding-left: 156px;
}
.field {
  display: flex;
  flex-direction: column;
  
}

.value {
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}
.label {

text-transform: uppercase;
}

.form {
}
.form-label {
  display: flex;
  flex-direction: column;
  padding: 36px 0 0 156px;
  margin-bottom: 16px;
  width: 360px;
  height: 72px;
}

.delay-input {
  height: 40px;
  border: 1px solid #808080;
border-radius: 4px;
margin-top: 8px;

}
.delay-input:hover{
  border: 1px solid #000;
  fill: #2E2F42;
}
.delay-input:active{
  border: 1px solid #4e75ff;
}
.radio-btn {
  margin-left: 156px;
  margin-bottom: 24px;
  padding: 0 0 0 12px;
  width: 346px;
  height: 78px;
  border-radius: 4px;
stroke-width: 1px;
stroke: #808080;
  
}
.radio-btn input{
    margin-top: 24px;
    margin-left: 48px;

}
.radio-btn:active{
border: 1px solid #4e75ff;
}
.fulfilled-input:active {
  stroke: #4E75FF;
  fill: #4E75FF;
}
.rejected-input:active {
  stroke: #4E75FF;
  fill: #4E75FF;
}
.btn {
  margin-left: 156px;
  width: 360px;
  height: 40px;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
}
.btn:hover{
  background-color: #6c8cff;
}